package components

import "github.com/Depado/pb-templ-htmx-todo/components/shared"

templ HomePartial(c shared.Context) {
	<div class="h-full flex-auto hero bg-base-200">
		<div class="hero-content text-center">
			<div class="max-w-md prose">
				<h1>Hey there</h1>
				if c.User != nil {
					<h2>{ c.User.Email() }</h2>
				}
				<p>This is the main content</p>
			</div>
		</div>
	</div>
}

templ Home(c shared.Context) {
	@shared.Base(c, "Home") {
		@HomePartial(c)
	}
}
